body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart {
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
  display: inline-grid;
  row-gap: 10px;
  margin-bottom: 10px;
}

.infoContainer {
  text-align: left;
}

.infoContainer p {
  margin: 0px;
}

.quantity {
  font-size: 10px;
}

.cartRow button {
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
  margin-right: 5px;
}

.cartRow {
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}

.hugLeft {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
}

.cartRow img {
  max-width: 100px;
  border-radius: 10px;
}

.productGrid {
  display:flex;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px;
}



.description {
  padding-left:5px;
  padding-right:5px;
}

.product {
  border: black solid 1px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product p {
  font-size: 10px;
}

.productTitle {
  font-size: 22px;
  padding-left: 5px;
  padding-right: 5px;
}

/*@media all and (max-width: 800px){
  .product{
    background-color: pink;
  }
}

@media all and (max-width: 460px){

}*/


.product img{
  width: 100%;
  border-radius: 10px;
}

.container {
  border: black solid 1px;
}

.container button {
  margin: 0px;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container input {
  margin-right: 5px;
}

.form_container {
  width: 30%;
  min-width: 300px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
}

.UserInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserInfo button{
  margin: 0px;
  margin-left: 4px;
  background-color: white;
  color: black;
  padding: 4px;
}

label , input {
  margin: 3% 0;
  padding: 3%;
}

button {
  background-color: black;
  color: white;
  font-size: 1em;
  margin: 5% 0;
  outline: none;
  padding: 1em;
  border-radius: 5px;
}

.secret_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment p {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.payButton{
  display: block;
  margin: 0px;
  border: none;
  width: 100px;
  height: 30px;
  padding: 0px;
  font-size: 18px;
  background-color: steelblue;
}

.Login {
  display: inline-grid;
}

.remove {
  display: inline-grid;
}